<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">

    <title>Automate.me</title>
    <meta property="title" content="Libérez votre entreprise des tâches répétitives - Automate.me">
    <meta property="description" content="On automatise ces tâches pour vous. Concentrez-vous sur ce qui apporte vraiment de la valeur. Ou juste reposez-vous 😎">

    <link rel="icon" href="assets/img/favicon-automate-me.png" />

    <!-- meta tags for social media -->
    <meta property="og:title" content="Libérez votre entreprise des tâches répétitives.">
    <meta property="og:description" content="On automatise ces tâches pour vous. Demandez votre audit gratuit pour rendre votre entreprise + efficace !">
    <meta property="og:image" content="https://automate-me.co/assets/img/facebook-img.jpg">
    <meta property="og:url" content="https://automate-me.co/">
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="https://automate-me.co/assets/img/twitter-img.jpg">
    <!-- end of meta tags for social media -->

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,600;0,700;1,300&family=Work+Sans:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/site.css">
  </head>
  <body class="bg-pink-light">
    {{ content }}
  </body>
</html>
